table{
border: 1px solid #ccc;
border-collapse: collapse;
width: 30%;
}
tr{
border: 1px solid #ccc;
}
td{
border: 1px solid #ccc;
}

.dayofweek{
vertical-align: top;
}
th{
border: 1px solid #ccc;
}
.ch{
background-color: #00CC99;
width: 40%;
}
.zn{
background-color: #00CCFF;
width: 40%;
}

.twotables{
margin-left: 100px;
margin-top: 100px;
display: flow-root;

justify-content: center;
align-items: center;
}

.twotables table{
margin: 10px;
float: left;
}

